<% include partials/header %>

    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Welcome to Poke Camp</h1>
                <p>View our hand-pick pokemons from all over Kanto</p>
                <p> <a href="/campgrounds/new" class="btn btn-primary btn large">Add new Pokemon</a>
                </p>
            </div>
        </header>
        <div class="row text-center" style="display:flex; flex-wrap:wrap;">
            <% poke.forEach(function(poke){%>
                <div class="col-md-3 col-sm-6">
                  <div class="thumbnail">
                    <img src="<%=poke.image%>">
                    <div class="caption">
                      <h4><%= poke.name %></h4>
                    </div>
                    <p>
                      <a href="/campgrounds/<%=poke._id%>" class="btn btn-primary">More info</a>
                    </p>
                  </div>

                </div>
                <%});%>
        </div>
    </div>

<% include partials/footer %>
